<launch>

    <node pkg="serial_example" type="serial_imu_node" 
            name="serial_imu_node" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="map"/> 
    </node>
 <!--   <node pkg="rviz" type="rviz" name="rviz"/> -->

</launch>   