<launch>
    <!--  Roscore  -->


    <!-- Run the map server -->
    
    <node name="map_server" pkg="map_server" type="map_server"
        args="$(find odometry)/my_map/lv.yaml" output="screen"/>

    
    <include file="$(find amcl)/examples/amcl_diff.launch"/>
    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find odometry)/param/costmap_common_params.yaml"
                command="load" ns="global_costmap"/>
        <rosparam file="$(find odometry)/param/costmap_common_params.yaml" 
                command="load" ns="local_costmap" />
        <rosparam file="$(find odometry)/param/local_costmap_params.yaml" 
                command="load" />
        <rosparam file="$(find odometry)/param/global_costmap_params.yaml" 
                command="load" />
        <rosparam file="$(find odometry)/param/base_local_planner_params.yaml" 
                command="load" />
    <!--            
        <rosparam file="$(find odometry)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find odometry)/param/global_planner_params.yaml" command="load" />
        <rosparam file="$(find odometry)/param/navfn_global_planner_params.yaml" command="load" />
        
    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="base_link"/>
    <param name="global_costmap/laser_scan_sensor/sensor_frame" value="laser"/>
    <param name="global_costmap/laser_scan_sensor/topic" value="scan"/>    
  
    <param name="local_costmap/global_frame" value="odom"/>
    <param name="local_costmap/robot_base_frame" value="base_link"/>
    <param name="local_costmap/laser_scan_sensor/sensor_frame" value="laser"/>
    <param name="local_costmap/laser_scan_sensor/topic" value="scan"/>
    <param name="local_costmap/obstacle_layer/laser_scan_sensor/topic" value="scan"/>
        -->
    </node>
    <!--
    -->
    <!--
    <node pkg="tf" type="static_transform_publisher" name="odom_2_base_link" args="0 0 0 0 0 0 odom base_link 10"/>
    -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_2_laser" args="0.1 0 0 0 0 0 1 base_link laser 10"/>
    
</launch>